{% extends 'components/base.html.twig' %}

{% block content %}
    <h1>Settings</h1>
    <p><label for="token">Token:</label> <input class="js--token" id="token" readonly value="{{ token }}"> <a href="#" class="js--generate-new-token">Generate new</a></p>
    <p><label><input type="checkbox" class="js--change-keep-file-name" {% if keepFileName %}checked{% endif %}> Keep the original name of the file</label></p>
{% endblock %}

{% block javascripts %}
    <script>
        var tokenInput = $('.js--token');
        $('.js--generate-new-token').on('click', function(e) {
            e.preventDefault();

            if(tokenInput.val() !== '') {
                if(!confirm('Are you sure you want to reset the API Token ?')) {
                    return;
                }
            }

            $.post('{{ generateToken }}', function(data) {
                tokenInput.val(data.token);
            });
        });

        $('.js--change-keep-file-name').on('change', function(e) {
            $.post('{{ changeKeepFileName }}', {keepFileName: $(this).is(':checked') }, function(data) {
                if(data.keepFileName) {
                    $(this).attr('checked', true);
                } else {
                    $(this).attr('checked', false);
                }
            });
        });

        tokenInput.click(function(){
            $(this).select();
        });
    </script>
{% endblock %}