{% extends 'components/base.html.twig' %}
{% block content %}
    <h1 class="page-header">Upload File</h1>
    <div class="help-block">Drag&Drop to upload a file</div>
    <div class="js--file-upload"></div>
{% endblock %}

{% block javascripts %}
    <script src="/js/dropzone.js"></script>
    <script type="application/javascript">
        $(function () {
            var dropzone = new Dropzone(document.body, {
                url: '{{ routeUpload }}',
                clickable: false,
                previewsContainer: false
            });

            var fileUpload = $('.js--file-upload');

            dropzone.on('error', function(file, errorMessage, xhr) {
                if(xhr && xhr.statusText) {
                    fileUpload.prepend('<strong>' + file.name + ':</strong> ' + xhr.statusText + '<br />');
                } else {
                    fileUpload.prepend('<strong>' + file.name + ':</strong> Error: ' + errorMessage + '<br />');
                }
            });

            dropzone.on("success", function(file, response) {
                fileUpload.prepend('<strong>' + file.name + ':</strong> File created <input class="js--select-input" value="' + response.url + '"><br />');
            });

            fileUpload.on('click', '.js--select-input', function(e) {
                $(this).select();
            });
        });
    </script>
{% endblock %}