{% extends 'components/base.html.twig' %}
{% block stylesheets %}
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="fileUpload"></div>
{% endblock %}

{% block javascripts %}
    <script src="/js/dropzone.js"></script>
    <script type="application/javascript">
        $(function () {
            var dropzone = new Dropzone(document.body, {
                url: '{{ routeUpload }}',
                clickable: false,
                previewsContainer: false
            });

            dropzone.on('error', function(file, errorMessage, xhr) {
                $('.fileUpload').append(xhr.statusText + '<br />');
            });

            dropzone.on("success", function(file, response) {
                $('.fileUpload').append('File created: <a href="' + response.url + '">Link</a><br />');
            });
        });
    </script>
{% endblock %}